<div class="my-5">
    <f:form action="add" name="setting" object="{setting}" arguments="{setting: setting}" enctype="multipart/form-data">

        <f:form.hidden property="user" value="{userUid}" />

        <div class="mt-2">
            <label for="description" class="form-label">Enter Description off your Profile</label>
            <f:form.textarea property="description" id="description" class="form-control" rows="3" value="{setting.description}" />
        </div>

        <div class="mt-2">
            <label class="form-label" for="profileImage">Upload Image</label>
            <f:form.upload property="profileImage" id="profileImage" class="form-control" value="{setting.profileImage}"/>
        </div>

        <div id="formContainer">
            <div class="card card-body mt-2">
                <h2>Add Url</h2>
                <div>
                    <label for="title0" class="form-label">Enter Title</label>
                    <f:form.textfield name="title[]" id="title0" class="form-control" value="{setting.links.title.0}" />
                </div>
                <div class="mt-2">
                    <label for="url0" class="form-label">Enter Link</label>
                    <f:form.textfield type="url" name="url[]" id="url0" class="form-control" value="{setting.links.url.0}" />
                </div>
            </div>
        </div>

        <button class="btn btn-primary" onclick="addCard()">Add More</button>

        <script>
            let cardCount = 1;

            function addCard() {
                const formContainer = document.getElementById('formContainer');

                const newCard = document.createElement('div');
                newCard.className = 'card card-body mt-2';
                newCard.innerHTML = `
                                    <h2>Add Url</h2>
                                    <div>
                                        <label for="title${cardCount}" class="form-label">Enter Title</label>
                                        <f:form.textfield name="title[]" id="title${cardCount}" class="form-control" value="{setting.links.title.${cardCount}}" />
                                    </div>
                                    <div class="mt-2">
                                        <label for="url${cardCount}" class="form-label">Enter Link</label>
                                        <f:form.textfield type="url" name="url[]" id="url${cardCount}" class="form-control" value="{setting.links.url.${cardCount}}" />
                                    </div>
                                `;

                formContainer.appendChild(newCard);
                cardCount++;
            }
        </script>

        <div class="mt-2">
            <f:form.submit class="btn btn-primary" value="Send" />
        </div>

    </f:form>
</div>
