<div class="d-flex justify-content-center align-items-center h-100" style="align-items: center;">
    <div class="card glow" style="width: 26rem; border-radius: 30px;">
      <img src="/typo3conf/ext/template/Resources/Public/Images/CardImages/Discord-server-neon-logo.png" class="card-img-top tree-image" style="border-top-left-radius: 30px; border-top-right-radius: 30px;" alt="...">
      <img src="/typo3conf/ext/template/Resources/Public/Images/CardImages/animepfpboy.png" class="tree-profil img-thumbnail" style="border-radius: 50%; height: 200px; width: 200px; margin-left: auto; margin-right: auto;" alt="...">
      <div class="card-body text-center">
        <br>
        <br>
        <br>
        <h2 class="card-title mt-2">Lux</h2>
        <h6 class="card-subtitle mb-2 text-body-secondary">{setting.description}</h6>
        <div style="color: White;">
          <a href="{setting.link}" class="btn btn-secondary mt-2 glow" style="width:100%; border-radius: 20px;">{setting.title}</a>
        </div>
        <a class="mt-2" href="https://lux-arcadia.de/login">
          <h6 class="mt-3 card-subtitle mb-2 text-body-secondary">Create own Linktree! (Click Me)</h6>
        </a>
      </div>
    </div>
</div>
